<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <form class="form-signin">
                <img class="mb-3" src="../../../assets/img/padlock.png" alt="" width="72" height="72">
                <h1 class="h4 mb-3 font-weight-normal">Faça o login</h1>

                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" name="email" class="form-control mb-2" [ngClass]="
                {
                    'is-invalid': email.invalid && (email.dirty || email.touched),
                    'is-valid': email.valid && (email.dirty || email.touched)
                }" placeholder="Informe o Email" [(ngModel)]="pessoa.email" #email="ngModel" email required="" autofocus="">
                <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                        Preenchimento obrigatório!
                    </div>
                    <div *ngIf="email.errors.email">
                        Email inválido
                    </div>
                </div>

                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" id="inputPassword" name="password" class="form-control mb-2" [ngClass]="
                {
                    'is-invalid': password.invalid && (password.dirty || password.touched),
                    'is-valid': password.valid && (password.dirty || password.touched)
                }" placeholder="Senha" [(ngModel)]="pessoa.senha" #password="ngModel" password required="">
                <div class="invalid-feedback mb-2" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required">
                        Preenchimento obrigatório!
                    </div>
                </div>
                <!-- <div class="checkbox mb-3 text-left">
                    <label><input type="checkbox" value="remember-me"> Lembrar</label>
                </div> -->
                <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="entrar()">Entrar</button>
            </form>
        </div>
    </div>
</div>