<div class="row" *ngIf="produtos">
    <div class="col-md-4 mt-2 mb-2" *ngFor="let item of produtos">

        <a (click)="abrirProduto(item)" style="cursor:pointer ;">
            <div class="card">
                <img class="card-top" src="../../../../../../arquivos/{{item.nomeArquivo}}" style="width: 200px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{item.codigoInterno}}</h5>
                    <div class="card-text">{{item.descricao | truncate: 20}}</div>
                    <h5 class="h5 mt-2">{{item.valoUnitario | currency:"BRL":"symbol"}}</h5>
                </div>
            </div>
        </a>
    </div>
</div>