<div class="row">
    <div class="col">
        <div class="jumbotron text-center">
            <div class="container">
                <h1 class="display-4">Cadastro Produto</h1>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        <form class="needs-validation">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="inputCodigoInterno">Código Produto</label>
                    <input type="text" id="inputCodigoInterno" name="CodigoInterno" placeholder="Codigo do produto" class="form-control" maxlength="60" [(ngModel)]="produto.codigoInterno" #CodigoInterno="ngModel" required>

                    <div class="invalid-feedback" *ngIf="CodigoInterno.invalid && (CodigoInterno.dirty || CodigoInterno.touched)">
                        <div *ngIf="CodigoInterno.errors.required"><b>Codigo do produto Preencimento Obrigatorio</b></div>
                    </div>
                </div>
                <div class="col-md-9 mb-3">
                    <label for="inputDescricao">Descrição Produto</label>
                    <input type="text" id="inputDescricao" name="Descricao" placeholder="Descricao do produto" class="form-control" maxlength="120" [(ngModel)]="produto.descricao" #Descricao="ngModel" required>
                    <div class="invalid-feedback" *ngIf="Descricao.invalid && (Descricao.dirty || Descricao.touched)">
                        <div *ngIf="Descricao.errors.required"><b>Descricao do produto Preencimento Obrigatorio</b></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="inputUnidadeMedida">Unidade Medida</label>
                    <input type="text" id="inputUnidadeMedida" name="UnidadeMedida" placeholder="Unidade Medida" class="form-control" maxlength="20" [(ngModel)]="produto.unidadeMedida" #UnidadeMedida="ngModel" required>
                    <div class="invalid-feedback" *ngIf="UnidadeMedida.invalid && (UnidadeMedida.dirty || UnidadeMedida.touched)">
                        <div *ngIf="UnidadeMedida.errors.required"><b>Unidade Medida do produto Preencimento Obrigatorio</b></div>
                    </div>
                </div>
                <div class="col-md-9 mb-3">
                    <label for="inputValoUnitario">Valor Unitário</label>
                    <input type="number" name="ValoUnitario" id="inputValoUnitario" placeholder="Valo Unitario" class="form-control" [(ngModel)]="produto.valoUnitario" #ValoUnitario="ngModel" required>
                    <div class="invalid-feedback" *ngIf="ValoUnitario.invalid && (ValoUnitario.dirty || ValoUnitario.touched)">
                        <div *ngIf="ValoUnitario.errors.required"><b>Valo Unitario do produto Preencimento Obrigatorio</b></div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="enviarArquivo">Enviar Arquivo</label>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" placeholder="Imagem" id="inputFile" (change)="inputChange($event.target.files)">
                    <label class="custom-file-label" for="inputFile">{{ produto.NomeArquivo }}</label>
                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="cadastrar()" [disabled]="ativarSpinner">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
                Cadastrar
            </button>

            <div class="alert alert-success mt-2" *ngIf="produtoCadastrado">
                <div class="row justify-content-md-center">
                    <p>
                        Produto cadastrado com sucesso
                        <a [routerLink]="[ '/produto-lista' ]">Ir para Lista de Produtos</a>
                    </p>
                </div>
            </div>

            <div class="alert alert-danger mt-2" *ngIf="mensagem">
                <div class="row justify-content-md-center">
                    {{mensagem}}
                </div>
            </div>

        </form>
    </div>
</div>