<div class="row py-5">
    <div class="col">
        <div class="jumbotron text-center">
            <div class="container">
                <h1 class="display-4">Produtos</h1>
            </div>
        </div>
        <!-- <input class="form-control shadow md-2" id="myInput" type="text" placeholder="Pesquisar..."> -->
        <input class="form-control shadow mb-4" type="text" id="myInput" onkeyup="filterGrid()" placeholder="Pesquisar..." autofocus="">

        <table id="dt-grid" class="table table-striped table-bordered shadow-lg" role="grid" cellspacing="0" width="100%" *ngIf="produtos">

            <thead class="thead-dark">
                <tr>
                    <th class="th-sm table-cell">Código</th>
                    <th class="th-sm table-cell">Descrição</th>
                    <th class="th-sm table-cell">Unidade</th>
                    <th class="th-sm table-cell">Valor Unitário</th>
                    <th class="th-sm table-cell">#</th>
                    <th class="th-sm table-cell">#</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr *ngFor="let p of produtos">
                    <td class="table-cell" style="width:15%">{{ p.codigoInterno }}</td>
                    <td style="width:35%">{{ p.descricao }}</td>
                    <td class="table-cell" style="width:10%">{{ p.unidadeMedida }}</td>
                    <td style="width:10%" style="text-align:right">R$ {{p.valoUnitario | currency:"BRL":"symbol" }}</td>
                    <td style="width:10%" class="table-cell"><button class="btn btn-primary btn-block" (click)="editarProduto(p)"><i class="fa fa-edit"></i> Editar</button></td>
                    <td style="width:10%" class="table-cell"><button class="btn btn-primary btn-block" (click)="excluirProduto(p)"><i class="fa fa-trash"></i> Excluir</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="table-cell">Código</th>
                    <th class="table-cell">Descrição</th>
                    <th class="table-cell">Unidade</th>
                    <th class="table-cell">Valor Unitário</th>
                    <th class="table-cell">#</th>
                    <th class="table-cell">#</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>